header {
  background-color: var(--gray);
  color: var(--light-gray);
  width: 100%;
}
h1 {
  text-align: center;
}
main {
  display: flex;
  ustify-content: center;
  height: 90%;
  width: 80%;
  background-color: var(--dark-gray);
}
