:host {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding: 0px 0px;
}
main,
header {
  padding: 10px 10px;
}

.q {
  font-weight: bolder;
  letter-spacing: 1.1px;
}

.a {
  border: 1px solid #00000000;
}
.a:hover {
  border: 1px solid blue;
}
