:host {
  display: flex;
  overflow: scroll;
}

.drawer {
  position: absolute;
  top: 0;
  left: -100vw;
  height: 230%;
  width: 100%;
  background-color: var(--gray);
}
.open {
  transform: translateX(100vw);
}

.fab {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  width: 55px;
  height: 55px;
  background-color: var(--secondary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.fab:hover {
  background-color: var(--primary);
}
.fab:active {
  background-color: var(--active);
}
p {
  text-align: center;
  line-height: 0.4;
}
span {
  transform: rotate(90deg);
  font-size: 30px;
}

@media only screen and (max-width: 667px) {
  span {
    font-size: 18px;
  }
  .fab {
    width: 40px;
    height: 40px;
  }
}
